# Rocksmarker plugins declaration file.
# latest 6.11.2025
# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]

# Rocks configuration section
[config]
colorscheme = "min-theme"
# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!
[plugins]
"rocks.nvim" = "2.45.0"
"rocks-config.nvim" = "3.1.1"
# "rocks-git.nvim" = "2.5.2"
# "rocks-lazy.nvim" = "1.1.2"
"rocks-treesitter.nvim" = "1.3.0"
"rocks-edit.nvim" = "scm"

# tree-sitter parsers
tree-sitter-cli = "0.25.3"
tree-sitter-bash = "0.0.41"
tree-sitter-css = "0.0.37"
tree-sitter-git_config = "0.0.31"
tree-sitter-git_rebase = "0.0.29"
tree-sitter-gitattributes = "0.0.31"
tree-sitter-gitcommit = "0.0.34"
tree-sitter-gitignore = "0.0.29"
tree-sitter-html = "0.0.36"
tree-sitter-ini = "0.0.32"
tree-sitter-json = "0.0.36"
tree-sitter-jsonc = "0.0.29"
tree-sitter-lua = "0.0.35"
tree-sitter-luadoc = "0.0.29"
tree-sitter-markdown = "0.0.42"
tree-sitter-markdown_inline = "0.0.40"
# tree-sitter-regex = "0.0.40"
tree-sitter-toml = "0.0.31"
tree-sitter-vim = "0.0.34"
tree-sitter-vimdoc = "0.0.34"
tree-sitter-yaml = "0.0.36"

# UI plugins
"min-theme.nvim" = "scm"
"lualine.nvim" = "scm"
"bufferline.nvim" = "4.9.1"
nvim-web-devicons = "0.100"
"toggleterm.nvim" = "2.13.1"
"fidget.nvim" = "1.6.0"
"gitsigns.nvim" = "1.0.2"
"which-key.nvim" = "3.17.0"

# Functional plugins
"indent-blankline.nvim" = "3.9.0"
"nvim-autopairs" = "scm"
"telescope.nvim" = "scm"
"neo-tree.nvim" = "3.33"
"rainbow-delimiters.nvim" = "0.9.1"
"telescope-file-browser.nvim" = "scm"
nvim-spectre = "scm"
"yanky.nvim" = "2.0.0"
"persisted.nvim" = "2.1.0"
"diffview.nvim" = "scm"
"nvim-highlight-colors" = "scm"
"telescope-frecency.nvim" = "scm"
"telescope-cmdline.nvim" = "0.2.1"
"telescope-ui-select.nvim" = "scm"
"searchbox.nvim" = "scm"

# Autocompletions plugins
"blink.cmp" = "1.3.1"
luasnip = "2.4.0"
friendly-snippets = "scm"

# Plugins for LSP
"mason.nvim" = "2.0.0"
"mason-lspconfig.nvim" = "2.0.0"
nvim-lspconfig = "2.2.0"
"mason-tool-installer.nvim" = "scm"

# Diagnostic plugins
nvim-lint = "scm"
"conform.nvim" = "9.0.0"
"trouble.nvim" = "3.7.1"

# Markdown plugins
"markdown-table-mode.nvim" = "scm"
"markdown.nvim" = "scm"
"zen-mode.nvim" = "1.4.0"
"markview.nvim" = "25.8.0"
nvim-rockydocs = "scm"

# Maintained the plugin to the development
# version due to bugs in version 2.0
[plugins.neogit]
version = "scm"
pin = true

# Plugins for language server support
# and auto completion
[bundles.lsp]
items = [
    "mason.nvim",
    "mason-lspconfig.nvim",
    "nvim-lspconfig",
    "blink.cmp",
    "mason-tool-installer.nvim",
    "luasnip",
]

# Plugin for diagnostics and related code display 
[bundles.diagnostics]
items = ["conform.nvim", "nvim-lint", "trouble.nvim"]

# Common editor utilities
[bundles.utils]
items = [
    "telescope.nvim",
    "persisted.nvim",
    "toggleterm.nvim",
    "neo-tree.nvim",
    "neogit",
    "nvim-spectre",
    "indent-blankline.nvim",
    "rainbow-delimiters.nvim",
    "nvim-autopairs",
    "nvim-highlight-colors",
    "yanky.nvim",
]

# Plugins for the implementation of the graphical
# user interface
[bundles.ui]
items = [
    "lualine.nvim",
    "fidget.nvim",
    "bufferline.nvim",
    "gitsigns.nvim",
    "min-theme.nvim",
    "which-key.nvim",
]

# Plugins for specific functionality of Markdown code
[bundles.markdown]
items = [
    "markdown.nvim",
    "markview.nvim",
    "markdown-table-mode.nvim",
    "zen-mode.nvim",
]
