# This is your rocks.nvim plugins declaration file.
# Here is a small yet pretty detailed example on how to use it:
#
# [plugins]
# nvim-treesitter = "semver_version"  # e.g. "1.0.0"
#
# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]

# Rocks configuration section
[config]
colorscheme = "bamboo"
# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!
[plugins]
"rocks.nvim" = "2.42.2"
"rocks-config.nvim" = "3.1.0"
"rocks-git.nvim" = "2.5.2"
"rocks-lazy.nvim" = "1.1.1"
"rocks-edit.nvim" = "scm"

# tree-sitter parsers
tree-sitter-bash = "scm"
tree-sitter-css = "scm"
tree-sitter-git_config = "scm"
tree-sitter-git_rebase = "scm"
tree-sitter-gitattributes = "scm"
tree-sitter-gitcommit = "scm"
tree-sitter-gitignore = "scm"
tree-sitter-html = "scm"
tree-sitter-ini = "scm"
tree-sitter-json = "scm"
tree-sitter-jsonc = "scm"
tree-sitter-lua = "scm"
tree-sitter-luadoc = "scm"
tree-sitter-markdown = "scm"
tree-sitter-markdown_inline = "0.0.37"
tree-sitter-regex = "scm"
tree-sitter-toml = "scm"
tree-sitter-vim = "scm"
tree-sitter-vimdoc = "scm"
tree-sitter-yaml = "scm"

# UI plugins
"bamboo.nvim" = "scm"
"feline.nvim" = "1.7.0"
nvim-cokeline = "0.4.0"
nvim-web-devicons = "0.100"
"toggleterm.nvim" = "2.13.0"
"gitsigns.nvim" = "0.9.0"
"fidget.nvim" = "1.4.1"

# Functional plugins
"indent-blankline.nvim" = "3.8.6"
"nvim-autopairs" = "scm"
"telescope.nvim" = "scm"
"neo-tree.nvim" = "3.27"
"rainbow-delimiters.nvim" = "0.8.0"
"telescope-file-browser.nvim" = "scm"
nvim-spectre = "scm"
"yanky.nvim" = "2.0.0"
"persisted.nvim" = "2.0.1"
"diffview.nvim" = "scm"
"nvim-highlight-colors" = "scm"
"telescope-frecency.nvim" = "scm"
"telescope-cmdline.nvim" = "0.2.1"
"telescope-ui-select.nvim" = "scm"

# Autocompletions plugins
nvim-cmp = "scm"
cmp-nvim-lsp = "scm"
luasnip = "2.3.0"
cmp_luasnip = "scm"
friendly-snippets = "scm"
cmp-buffer = "scm"
cmp-path = "scm"

# Plugins for LSP
"mason.nvim" = "1.10.0"
"mason-lspconfig.nvim" = "1.31.0"
nvim-lspconfig = "1.1.0"
"mason-tool-installer.nvim" = "scm"

# Diagnostic plugins
nvim-lint = "scm"
"conform.nvim" = "8.2.0"
"which-key.nvim" = "3.14.1"
"trouble.nvim" = "3.6.0"

# Markdown plugins
"markdown-table-mode.nvim" = "scm"
"markdown.nvim" = "scm"
"markview.nvim" = "24.0.0"
"zen-mode.nvim" = "1.4.0"


[plugins.neogit]
version = "scm"
pin = true

[bundles.lsp]
items = [
    "mason.nvim",
    "mason-lspconfig.nvim",
    "nvim-lspconfig",
    "nvim-cmp",
    "mason-tool-installer.nvim",
    "luasnip",
]

[bundles.diagnostics]
items = ["conform.nvim", "nvim-lint", "trouble.nvim"]

[bundles.utils]
items = [
    "telescope.nvim",
    "persisted.nvim",
    "toggleterm.nvim",
    "neo-tree.nvim",
    "neogit",
    "nvim-spectre",
    "indent-blankline.nvim",
    "nvim-autopairs",
    "nvim-highlight-colors",
    "yanky.nvim",
]

[bundles.ui]
items = [
    "feline.nvim",
    "fidget.nvim",
    "nvim-cokeline",
    "gitsigns.nvim",
    "bamboo.nvim",
]

[bundles.markdown]
items = [
    "markdown.nvim",
    "markview.nvim",
    "markdown-table-mode.nvim",
    "zen-mode.nvim",
]
