import = ["rocks-treesitter.toml"]
# Rocksmarker plugins declaration file.
# latest 6.11.2025
# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]
# luarocks = "3.12.2"
# Rocks configuration section
[config]
colorscheme = "min-theme"
# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!

[treesitter]
# auto_highlight = "all"
# NOTE: These are parsers, not filetypes.
auto_highlight = [
    "lua",
    "luadoc",
    "markdown",
    "markdown_inline",
    "bash",
    "json",
    "toml",
    "vim",
    "vimdoc",
    "yaml",
    "git_config",
    "gitcommit",
    "gitignore",
    "ini",
    "vim",
    "vimdoc",
    "css",
    "html",
]
auto_install = "true"
config_path = "rocks-treesitter.toml"

[plugins]
# Rocks section
"rocks.nvim" = "2.47.4"
"rocks-config.nvim" = "3.2.0"
"rocks-treesitter.nvim" = "1.3.1"
"rocks-edit.nvim" = "scm"

# UI plugins
"min-theme.nvim" = "scm"
"mini.icons" = "0.17.0"
"mini.pairs" = "0.17.0"
"lualine.nvim" = "scm"
"bufferline.nvim" = "4.9.1"
"gitsigns.nvim" = "2.0.0"
"which-key.nvim" = "3.17.0"
"rainbow-delimiters.nvim" = "0.10.0"
"persisted.nvim" = "3.0.0"
"nvim-highlight-colors" = "scm"
"snacks.nvim" = "2.30.0"
"grug-far.nvim" = "1.6.60"
neogit = "3.0.0"

# Autocompletions plugins
"blink.cmp" = "1.8.0"
luasnip = "2.4.1"
friendly-snippets = "scm"

# Plugins for LSP
"mason.nvim" = "2.2.1"
"mason-lspconfig.nvim" = "2.1.0"
nvim-lspconfig = "2.6.0"
"mason-tool-installer.nvim" = "scm"

# Diagnostic plugins
nvim-lint = "scm"
"conform.nvim" = "scm"
"trouble.nvim" = "3.7.1"

# Markdown plugins
"render-markdown.nvim" = "8.11.0"
"markdown-plus.nvim" = "1.9.1"

# Plugins for language server support
# and auto completion
[bundles.lsp]
items = [
    "mason.nvim",
    "mason-lspconfig.nvim",
    "nvim-lspconfig",
    "blink.cmp",
    "mason-tool-installer.nvim",
    "luasnip",
]

# Plugin for diagnostics and related code display 
[bundles.diagnostics]
items = ["conform.nvim", "nvim-lint", "trouble.nvim"]

# Plugins for the implementation of the graphical
# user interface
[bundles.ui]
items = [
    "min-theme.nvim",
    "snacks.nvim",
    "lualine.nvim",
    "bufferline.nvim",
    "persisted.nvim",
    "gitsigns.nvim",
    "rainbow-delimiters.nvim",
    "which-key.nvim",
    "nvim-highlight-colors",
]

# Plugins for specific functionality of Markdown code
[bundles.markdown]
items = ["markdown-plus.nvim", "render-markdown.nvim"]
