import = ["rocks-treesitter.toml"]
# Rocksmarker plugins declaration file.
# latest 6.11.2025
# List of non-Neovim rocks.
# This includes things like `toml` or other lua packages.
[rocks]

# Rocks configuration section
[config]
colorscheme = "min-theme"
# List of Neovim plugins to install alongside their versions.
# If the plugin name contains a dot then you must add quotes to the key name!

[treesitter]
# auto_highlight = "all"
# NOTE: These are parsers, not filetypes.
auto_highlight = [
    "lua",
    "luadoc",
    "markdown",
    "markdown_inline",
    "bash",
    "json",
    "toml",
    "vim",
    "vimdoc",
    "yaml",
    "git_config",
    "gitcommit",
    "gitignore",
    "ini",
    "vim",
    "vimdoc",
    "css",
    "html",
]
auto_install = "true"
config_path = "rocks-treesitter.toml"

[plugins]
# Rocks section
"rocks.nvim" = "2.46.1"
"rocks-config.nvim" = "3.1.2"
# "rocks-git.nvim" = "2.5.2"
# "rocks-lazy.nvim" = "1.1.2"
"rocks-treesitter.nvim" = "1.3.1"
"rocks-edit.nvim" = "scm"

# UI plugins
"min-theme.nvim" = "scm"
"lualine.nvim" = "scm"
"bufferline.nvim" = "4.9.1"
"fidget.nvim" = "1.6.0"
"gitsigns.nvim" = "1.0.2"
"which-key.nvim" = "3.17.0"
"nvim-autopairs" = "scm"
"neo-tree.nvim" = "3.35"
"rainbow-delimiters.nvim" = "0.9.1"
nvim-spectre = "scm"
"yanky.nvim" = "2.0.0"
"persisted.nvim" = "2.1.1"
"diffview.nvim" = "scm"
"nvim-highlight-colors" = "scm"
"telescope-cmdline.nvim" = "0.2.3"

# Autocompletions plugins
"blink.cmp" = "1.7.0"
luasnip = "2.4.1"
friendly-snippets = "scm"

# Plugins for LSP
"mason.nvim" = "2.0.1"
"mason-lspconfig.nvim" = "2.1.0"
nvim-lspconfig = "2.5.0"
"mason-tool-installer.nvim" = "scm"

# Diagnostic plugins
nvim-lint = "scm"
"conform.nvim" = "9.1.0"
"trouble.nvim" = "3.7.1"

# Markdown plugins
"markdown-table-mode.nvim" = "scm"
"zen-mode.nvim" = "1.4.0"
"render-markdown.nvim" = "8.9.0"
nvim-mkdocs-material = "0.1.3"
"mini.icons" = "0.16.0"
"markdown-plus.nvim" = "1.6.0"
"snacks.nvim" = "2.22.0"

[plugins."telescope.nvim"]
version = "0.1.9"
pin = true

# Maintained the plugin to the development
# version due to bugs in version 2.0
[plugins.neogit]
version = "scm"
pin = true

# Plugins for language server support
# and auto completion
[bundles.lsp]
items = [
    "mason.nvim",
    "mason-lspconfig.nvim",
    "nvim-lspconfig",
    "blink.cmp",
    "mason-tool-installer.nvim",
    "luasnip",
]

# Plugin for diagnostics and related code display 
[bundles.diagnostics]
items = ["conform.nvim", "nvim-lint", "trouble.nvim"]

# Common editor utilities
[bundles.utils]
items = [
    "snacks.nvim",
    "telescope.nvim",
    "persisted.nvim",
    "neo-tree.nvim",
    "neogit",
    "nvim-spectre",
    "rainbow-delimiters.nvim",
    "nvim-autopairs",
    "nvim-highlight-colors",
    "yanky.nvim",
]

# Plugins for the implementation of the graphical
# user interface
[bundles.ui]
items = [
    "lualine.nvim",
    "fidget.nvim",
    "bufferline.nvim",
    "gitsigns.nvim",
    "min-theme.nvim",
    "which-key.nvim",
]

# Plugins for specific functionality of Markdown code
[bundles.markdown]
items = [
    "markdown-plus.nvim",
    "nvim-mkdocs-material",
    "render-markdown.nvim",
    "markdown-table-mode.nvim",
    "zen-mode.nvim",
]
